.landing-page-container {
  display: flex;
  width: 100%;
  text-decoration: none;
  margin-top: 20px;
  color: #2d3748;
}

.h1-and-p {
  width: 100%;
  margin: 20px;
}

.landing-h1 {
  margin-top: 50px;
  font-size: 4vw;
}

.landing-p {
  font-size: 2.5vw;
  margin-top: 15px;
}

.newspaper-and-glasses-img-container {
  height: 100%;
  width: 100%;
}

.newspaper-and-glasses-img {
  width: 50vw;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
